
@{
    ViewBag.Title = "Single Page application using Web api and angular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>CRUD operation using Angular JS and Web api,EF</h1>
    <p class="lead">Show,Create,Update and Delete students entry </p>
    
</div>
@*<div>
    <div>
        <div>
            <table cellpadding="5" cellspacing="6" width="100%" class="tableheader">
                <tr class="navbar-inverse">
                    <td colspan="2" class="tableoptions"><a href="showstudents"> Show All Students </a></td>
                    <td colspan="2" class="tableoptions"><a href="addstudent"> Add New Student </a></td>
                    <td colspan="2" class="tableoptions"><a href="searchstudent"> Search Student </a></td>
                </tr>
            </table>
        </div>
        
        <div>
            
        </div>
    </div>

</div>*@
<div data-ng-view></div>  
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ui-grid.min.js")"></script>
    <link href="~/Content/ui-grid.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/Module.js")"></script>
    <script src="~/MyScripts/Services.js"></script>
    <link href="~/Content/Custom/Custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/MyScripts/ShowStudentsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/AddStudentController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/EditStudentController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/MyScripts/DeleteStudentController.js")"></script>
}






